
h1 {
    margin-left: 800px
}
#testP{
    margin-left: 375px; margin-right: 300px;
}
#pic1{
    margin-left: 350px
}
#para2{
    margin-left: 450px; margin-right: 550px;
}
#pic2{
    margin-left: 400px
}
#para3{
    margin-left: 490px; margin-right: 600px;
}
#pic3{
    margin-left: 475px
}
body {
    margin-block: 8px; display: block; background-color: gainsboro;
}
#mainHeading{
    color:red
}
.funParagraph{
    color: green
}
.images{
    padding: 10px 15px 10px 15px
}